<!--
Created by Ben M. Dunn
oct3, 2016

simply footer with closing body information. Contains bootstrap stricp and a simple float footer to the
bottom of the page.

-->


<footer class="footer">
    <div class="container">
        <p class="text-muted">@copyright Ben M. Dunn 2016.</p>
    </div>
</footer>


<script src="/javascripts/bootstrap.min.js"></script>
</body>
</html>