<!DOCTYPE html>
<html lang="en">
<head>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <link type ="text/css" href="/stylesheets/bootstrap.min.css" rel="stylesheet"/>
    <link type ="text/css" href="/stylesheets/bootstrap-theme.min.css" rel="stylesheet"/>
    <link type ="text/css" href="/stylesheets/style.css" rel="stylesheet"/>


</head>



<!-- default bootstrap blacl title bar -->
<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><%=title %></a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="#/about">About Me</a>
                </li>

                <li>
                    <a href="#/projects">Projects</a></li>
                <li>
                    <a href="#/contact">Contact</a></li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>


<!-- end of default header -->