
<!--
Created by Ben M. Dunn
oct3, 2016

Creates common elements that will display first on the page, these common elements are simplistic things
that are simple working elemenets. Included in this display are as follows (if it is added, the res' are


IN values:
WStitle String        //string for the title of the page, global variable for all components
firstDiv boolean    //does the first div exist?
pictureLead boolean // does the first div have a picture lead?

settings are by default a 4/8 bootstrap row configuration.
-->
<div class="container">
    <!-- first div start -->
    <%if(firstDiv == true) {
    if (pictureLead == true)
    {%>
    <!-- picture lead div -->
    <div class="col-md-4">
        <!-- picture goes here -->
        <img src="/images/muggshot.png" alt="image" style="width:200px;height:200px;">
        <!-- inline as we will likely learn a better way later -->

    </div>
    <!-- if a picture is used, or not used, this code determines how much of the
    display is fractioned, by default a picture is present for 8-->
    <div class="col-md-8">
        <h1> <%=WStitle%></h1>
        <p><%=messageSimpleDev%></p>
        <%}
        else {%>
        <div class="col-md-12">
            <%}%>
        </div>
        <%}%>
    </div><!-- /.container end -->

</div>